<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luban.command.capitaltrend.dao.CapitaltrendDao">

    <!--<resultMap id="UserBaseMap" type="com.luban.command.*.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>-->

    <select id="queryPlandIncome" resultType="double">
    /*查询计划收入*/

    </select>

    <select id="queryPlandCost" resultType="double">
    /*查询计划成本*/
    </select>

    <select id="queryActualIncome" resultType="double">
    /*查询实际收入*/

    </select>

    <select id="queryActualCost" resultType="double">
    /*查询实际成本*/

    </select>

</mapper>